.container div:nth-child(3){
    border: 1px solid black;
    background: black;
    width: 200px;
    height: 100px;

}
.container div:nth-child(8){
   background: black;
    width: 200px;
    height: 100px;
}
.container div:nth-child(1){
    border: 1px solid red;
    background: green;
    width: 400px;
    height: 200px;
}
   .container div:nth-child(2){
    background: green;
    width: 400px;
    height: 200px;
}
.container div:nth-child(6){
    background: green;
    width: 400px;
    height: 200px;
}
.container div:nth-child(3n){
    border: 1px solid red;
}
.container div:nth-child(11){
    border: 1px solid red;
}
.container div:nth-child(2n){
    border: 3px solid blue;
}